
#svg-field {
    width: 97%;
}

#svg-names {
    position: absolute;
    left: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

#SSUI-Field2D {
}

#SSUI-Field2D-FieldTexture {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.SSUI-Field2D-Image {
    position: absolute;
    display: block;
}
