
$eventBottomBorder: solid 1px rgba(255, 255, 255, 0.2);
$eventBackgroundColor: rgba(255, 255, 255, 0);
$eventBackgroundColorOdd: rgba(255, 255, 255, 0);
$eventBackgroundColorEven: rgba(255, 255, 255, 0);
$playerNameColor: rgba(255,255,255,1);
$eventTimeBackgroundColor: #ccc;
$eventTimeColor: black;

.SSUI-LiveEvent {
    width: 100%;
    display: block;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    border-bottom: $eventBottomBorder;
    background-color: $eventBackgroundColor;
    padding: 4px;
}

.SSUI-LiveEvent:nth-of-type(2n) {
    background-color: $eventBackgroundColorEven;
}

.SSUI-LiveEvent:nth-of-type(2n+1) {
    background-color: $eventBackgroundColorOdd;
}

.SSUI-LiveEvent-Home {
    width: 40%;
    flex-grow: 1;
    display: block;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.SSUI-LiveEvent-Logo {
    width: calc(20%/3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 8px;
    text-align: center;

    img {
        max-width: 30px;
        width: 1.25em;
        height: auto;
        align-self: center;
    }
}

.SSUI-LiveEvent-Time {
    width: calc(20%/3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    vertical-align: middle;

    span {
        background-color: $eventTimeBackgroundColor;
        border-radius: 3px;
        padding: 2px 5px;
        color: $eventTimeColor;
        align-self: center;
        min-width: 1.5em;
        text-align: center;
    }
}

.SSUI-LiveEvent-Away {
    width: 40%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.SSUI-LiveEvent-Text {
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
}

.SSUI-LiveEvent-Text-Button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    color: $playerNameColor;
}

.SSUI-LiveEvent-Text-Button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0px 5px;
}
