
$fontSize: 12px;
$playerNameBgColor: rgba(0, 0, 0, 0);
$playerNameColor: white;
$tShirtNrBgColor: black;
$tShirtNrColor: white;
$statsBgColor: #ccc;
$statsColor: black;

.SSUI-GameStats {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0;
    font-size: $fontSize;
}

.SSUI-GameStats-Zone {
    display: flex;
    flex-flow: column;
    padding: 0;
}

.SSUI-GameStats-Player {
    display: flex;
    flex-flow: row;
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
}

.SSUI-GameStats-TShirtNr {
    background-color: $tShirtNrBgColor;
    color: $tShirtNrColor;
    text-align: center;
    padding: 5px;
    min-width: 20px;
}

.SSUI-GameStats-PlayerName {
    flex-grow: 1;
    padding: 0 5px;
}

.SSUI-GameStats-Text-Button {
    color: $playerNameColor;
    background-color: $playerNameBgColor;
    padding: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.SSUI-GameStats-Text-Button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.SSUI-GameStats-Stats {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 2px 5px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    background-color: $statsBgColor;
    color: $statsColor;
    margin: 0 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.75);
}

.SSUI-GameStats-Stats-Number {
    text-align: center;
    padding: 0 5px;
}

.SSUI-GameStats-Stats-Type {
    text-align: center;
    padding: 0 2em;
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bigger {
    flex-grow: 1;
}

@media (max-width: 600px) {
    .SSUI-GameStats {
        flex-wrap: wrap;
    }
}
